@model TestMVCApp.Models.Category

@{
    ViewData["Title"] = "Delete Category";
}

<h2>Delete Category</h2>

<p>@Model.Products.Count</p>

<form class="mt-4" asp-action="DeleteCategoryPost" method="post">
    <input hidden asp-for="Id">
    
    <label for="title">Category Title</label>
    <input disabled asp-for="Title" type="text" id="title" class="form-control">
    <label for="image">Category Image (not implemented yet)</label>
    <input disabled type="image" asp-for="ImgName" id="image" alt="" class="form-control">
    
    <button type="submit" class="btn btn-danger mt-2 w-25">Delete</button>
    <button asp-action="CreateCategory" class="btn btn-success mt-2 w-25">Back</button>
    
</form>

