@model TestMVCApp.Models.Customer

@{
    ViewData["Title"] = "Delete Customer";
}

<h2>Customers</h2>

<form class="mt-4" asp-action="DeleteCustomerPost" method="post">
    <input asp-for="Id" hidden>
    
    <label for="name">First Name</label>
    <input disabled asp-for="Name" type="text" id="name" class="form-control">
    
    <label for="lastname">Last Name</label>
    <input disabled asp-for="LastName" type="text" id="lastname" class="form-control">
    
    <label for="address">Address</label>
    <input disabled asp-for="Address" type="text" id="address" class="form-control">
    
    <label for="email">Email</label>
    <input disabled asp-for="Email" type="email" id="email" class="form-control">
    
    <label for="paymentmethod">Select Payment Method</label>
    <select disabled id="paymentmethod" asp-for="PaymentMethod" class="form-control">
        <option value="PayPal">PayPal</option>
        <option value="PayPal">Debit Card</option>
        <option value="PayPal">Payoneer</option>
    </select>
    
    <label for="boughtPtoduct">Bought Product</label>
    @foreach (var p in ViewBag.product)
    {
        <input class="form-control" id="boughtPtoduct" disabled asp-for="BoughtProdId" value="@p.Name">
    }

    <button type="submit" class="btn btn-danger mt-3 w-50">Delete</button>
    <button asp-action="Customer" class="btn btn-primary mt-3 w-50">Back</button>
</form>

