@{
    ViewData["Title"] = "Admin Page";
}

<div class="container">
    <h2>Hello Admin</h2>
    
    <a asp-action="CreateProduct"><button type="button" class="btn btn-primary btn-lg">Products</button></a>
    @*<a asp-action="CreateCustomer"><button type="button" class="btn btn-primary btn-lg">Create Customer</button></a>*@
    @*<a asp-action="CreateBusket"><button type="button" class="btn btn-primary btn-lg">Create Busket</button></a>
    <a asp-action="CreateOrder"><button type="button" class="btn btn-primary btn-lg">Create Order</button></a>*@
    <a asp-action="CreateCategory"><button type="button" class="btn btn-primary btn-lg">Categories</button></a>
    <a asp-action="Customer"><button type="button" class="btn btn-primary btn-lg">Customers</button></a>
</div>