@model TestMVCApp.Models.Category

@{
    ViewData["Title"] = "Update Category";
}

<h2>Update Category</h2>

<form class="mt-4" asp-action="UpdateCategoryPost" method="post">
    <input hidden asp-for="Id">
    <label for="title">Category Title</label>
    <input asp-for="Title" type="text" id="title" class="form-control">
    <label for="image">Category Image URL</label>
    <input type="text" asp-for="ImgName" id="image" alt="" class="form-control">

    <button type="submit" class="btn btn-success mt-2 w-25">Update</button>
    <button asp-action="CreateCategory" class="btn btn-success mt-2 w-25">Back</button>
</form>