@{
    ViewData["Title"] = "Checkout Page";
}

<h1>Thank you for the purchase!</h1>

<h2 class="mt-5 mb-5">We will contact you via E-Mail to complete the order.</h2>

<a asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-lg"><img src="https://img.icons8.com/office/16/000000/circled-left-2.png"/>  Go Back</button></a>